.form-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  /* background-color: red; */
  font-family: Arial, sans-serif;
}

.form-header {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-label {
  font-size: 18px;
  color: #333;
}

.form-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.form-submit {
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #45a049;
}

.data-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.online-data,
.offline-data {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f4f4f4;
}

.data-item {
  margin-bottom: 15px;
  background-color: #45a049;
  padding: 5px;
  border-radius: 10px;
}

.data-item p {
  /* margin: 5px 0; */
  padding: 10px;
  /* background-color: rgb(159, 228, 159) */
}

.data-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;


}
